<!doctype html>
<html lang="en">
    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">


	<title>Request information</title>
    </head>
    <body>

	<div class="container">
	    <div class="jumbotron">
		<div class="container">
		    <h1 class="display-4">My first web application</h1>

		    <p>Request data</p>

		    <ul>
			<li>Method : {{method}}</li>
			<li>Path : {{path}}</li>
			<li>Query string : {{query}}</li>
		    </ul>

		    <p>Parsed queries</p>

		    <ul>
			{{queries}}
		    </ul>

		</div>
	    </div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.3.1.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    </body>
</html>
