<!doctype html>
<html lang="en">
    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">


	<title>Request information</title>
    </head>
    <body>


	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	    <h5 class="my-0 mr-md-auto font-weight-normal">Squeak!</h5>

	    <form class="form-inline w-75 mt-2 mt-md-0"  method="POST" action="squeak">
		<div class="input-group mr-sm-2 w-75">
		    <div class="input-group-prepend">
			<div class="input-group-text">{{username}}</div>
		    </div>
		    <input type="text" name="squeak" class="form-control" id="squeaktext">

		</div>
		<button type="submit" class="btn btn-primary mr-sm-2">Squeak!</button>
	    </form>

	    <form class="form-inline mt-2 mt-md-0">
		<button type="button" class="btn btn-primary" onclick="signout(this)">Sign out</button>
	    </form>
	</div>

	<script src="js/jquery-3.3.1.min.js"></script>

	<div class="container">
	    {{squeaks}}
	    

            <!-- <div class="card mb-2">
		 <div class="card-header">
                 M. Schönfinkel
                 <span class="float-right">Thu 10:42</span>
		 </div>
		 <div class="card-body">
                 <p class="card-text">Click &lt;a href&#x3D;&#x27;&#x27;&gt;here&lt;/a&gt; to get the iPhobe X FREE!</p>
		 </div>
		 </div>

		 <div class="card mb-2">
		 <div class="card-header">
                 A. Church
                 <span class="float-right">Tue 11:04</span>
		 </div>
		 <div class="card-body">
                 <p class="card-text">Do you like lambda calculus?</p>
		 </div>
		 </div>

		 <div class="card mb-2">
		 <div class="card-header">
                 H. Curry
                 <span class="float-right">Tue 10:52</span>
		 </div>
		 <div class="card-body">
                 <p class="card-text">There is a strong connection between lambda calculus and logic!</p>
		 </div>
		 </div>

		 <div class="card mb-2">
		 <div class="card-header">
                 M. Schönfinkel
                 <span class="float-right">Tue 10:49</span>
		 </div>
		 <div class="card-body">
                 <p class="card-text">It suffices with the S and K combinators!</p>
		 </div>
		 </div> -->



	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/squeak.js"></script>
    </body>
</html>
